/* @media (min-width: 576px) {
   
}

@media (min-width: 992px) {
    
}
@media (min-width: 576px) {
   
} */


/* #search-input {
    width: 10px;
    background-color: #d25b5b;
    border: 1px solid #1d1b1b;
    padding: 0px;
  } */
  /* .navbar-brand {
    margin-left: 20px; /* Adjust the value as needed */
